@page "/perro"
@page "/perro/{id:int}"
@inject IPerroService PerroService
@inject MudBlazor.ISnackbar snackBar

<MudBreadcrumbs Items="_items" Separator=">"></MudBreadcrumbs>

@if (Id == null)
{
    <PageTitle>Crear una nueva mascota</PageTitle>
    <br>
    <h3>Nueva mascota</h3>
}
else
{
    <PageTitle>Editar la info de @perro.Nombre</PageTitle>
    <br>
    <h3>Editar informacion de @perro.Nombre</h3>
}

<EditForm Model="perro" OnSubmit="HandleSubmit">
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Nombre*" HelperText="Ex: Bolt" @bind-Value="perro.Nombre"
                     Variant="Variant.Outlined" For="@(() => perro.Nombre)"></MudTextField>
                    <MudTextField Label="Color/Tono*" HelperText="Ex: Blanco y negro" @bind-Value="perro.Color"
                     Variant="Variant.Outlined" For="@(() => perro.Color)"></MudTextField>
                     <MudAutocomplete Label="Raza" HelperText="Ex: Dogo Argentino" @bind-Value="perro.Raza" SearchFunc="@BuscarRazas"
                         ResetValueOnEmptyText="@resetValueOnEmptyText"
                         CoerceText="@coerceText" CoerceValue="@coerceValue" Variant="Variant.Outlined"
                         AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary"
                         For="@(() => perro.Raza)" Required="true" RequiredError="La Raza del perro es requerida!"/>
                    <MudTextField Label="Sexo*" HelperText="Ex: M o F" @bind-Value="perro.Sexo"
                     Mask="@maskSexo" Variant="Variant.Outlined" For="@(() => perro.Sexo)"></MudTextField>
                    @*Sustituir Select por MudAutocomplete*@
                    <MudSelect Label="Propietario" HelperText="Escribe el nombre del propietario"
                     @bind-Value="perro.PropietarioId"  Variant="Variant.Outlined">
                        @foreach (var propietario in PerroService.Propietarios)
                        {
                            <MudSelectItem Value="@propietario.PersonaId">@propietario.Nombres @propietario.Apellidos</MudSelectItem>
                        }
                    </MudSelect>
                </MudCardContent>
                <MudCardActions Class="pa-4 mt-4">
                    <MudButton Class="mr-4" ButtonType="ButtonType.Submit" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info">@btnText</MudButton>
                    @if (Id != null)
                    {
                        <MudButton OnClick="DeletePerro" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error">Borrar Mascota</MudButton>
                    }
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }

    string btnText = string.Empty;

    Perro perro = new Perro { Propietario = new Propietario() };

    public IMask maskSexo = new PatternMask("X") { 
        MaskChars = new[] { new MaskChar('X', @"^[fF]|[mM]") },
        Transformation = AllUpperCase
    };
    // transform lower-case chars into upper-case chars
    private static char AllUpperCase(char c) => c.ToString().ToUpperInvariant()[0];

    protected override async Task OnInitializedAsync()
    {
        btnText = Id == null ? "Guardar Nuevo Perro" : "Actualizar Perro";

        await PerroService.GetPropietarios();
    }

    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Home", href: "#", icon: Icons.Material.Filled.Home),
        new BreadcrumbItem("Gestionar mascotas", href: "gestionar-mascotas", icon: Icons.Filled.ContentPasteSearch),
        new BreadcrumbItem("Crear o editar mascota", href: null, disabled: true, icon: Icons.Material.Filled.Create)
    };

    protected override async Task OnParametersSetAsync() // Para cargar la informacion
    {
        if(Id == null)
        {
            // Crear un nuevo perro
            perro.Propietario = PerroService.Propietarios[0];
            perro.PropietarioId = perro.Propietario.PersonaId;
        }
        else
        {
            perro = await PerroService.GetSinglePerro((int)Id);
        }
    }

    async Task HandleSubmit()
    {
        if (Id == null)
        {
            await PerroService.CreatePerro(perro);
            snackBar.Add("Mascota Creada.", Severity.Success);
        }
        else
        {
            await PerroService.UpdatePerro(perro);
            snackBar.Add("Mascota Actualizada.", Severity.Success);
        }
    }

    async Task DeletePerro()
    {
        await PerroService.DeletePerro(perro.PerroId);
        snackBar.Add("Mascota Borrada.", Severity.Success);

    }
    
    // Formulario para seleccionar razas del perro
    private bool resetValueOnEmptyText  = false;
    private bool coerceText =true;
    private bool coerceValue = true;
    private string[] razas = {
    "Affenpinscher",
    "Airedale terrier",
    "Akita",
    "Akita americano",
    "Alaskan Husky",
    "Alaskan malamute",
    "American Foxhound",
    "American pit bull terrier",
    "American staffordshire terrier",
    "Ariegeois",
    "Artois",
    "Australian silky terrier",
    "Australian Terrier",
    "Austrian Black & Tan Hound",
    "Azawakh",
    "Balkan Hound",
    "Basenji",
    "Basset Alpino (Alpine Dachsbracke)",
    "Basset Artesiano Normando",
    "Basset Azul de Gascuña (Basset Bleu de Gascogne)",
    "Basset de Artois",
    "Basset de Westphalie",
    "Basset Hound",
    "Basset Leonado de Bretaña (Basset fauve de Bretagne)",
    "Bavarian Mountain Scenthound",
    "Beagle",
    "Beagle Harrier",
    "Beauceron",
    "Bedlington Terrier",
    "Bichon Boloñes",
    "Bichón Frisé",
    "Bichón Habanero",
    "Billy",
    "Black and Tan Coonhound",
    "Bloodhound (Sabueso de San Huberto)",
    "Bobtail",
    "Boerboel",
    "Border Collie",
    "Border terrier",
    "Borzoi",
    "Bosnian Hound",
    "Boston terrier",
    "Bouvier des Flandres",
    "Boxer",
    "Boyero de Appenzell",
    "Boyero de Australia",
    "Boyero de Entlebuch",
    "Boyero de las Ardenas",
    "Boyero de Montaña Bernes",
    "Braco Alemán de pelo corto",
    "Braco Alemán de pelo duro",
    "Braco de Ariege",
    "Braco de Auvernia",
    "Braco de Bourbonnais",
    "Braco de Saint Germain",
    "Braco Dupuy",
    "Braco Francés",
    "Braco Italiano",
    "Broholmer",
    "Buhund Noruego",
    "Bull terrier",
    "Bulldog americano",
    "Bulldog inglés",
    "Bulldog francés",
    "Bullmastiff",
    "Ca de Bestiar",
    "Cairn terrier",
    "Cane Corso",
    "Cane da Pastore Maremmano-Abruzzese",
    "Caniche (Poodle)",
    "Caniche Toy (Toy Poodle)",
    "Cao da Serra de Aires",
    "Cao da Serra de Estrela",
    "Cao de Castro Laboreiro",
    "Cao de Fila de Sao Miguel",
    "Cavalier King Charles Spaniel",
    "Cesky Fousek",
    "Cesky Terrier",
    "Chesapeake Bay Retriever",
    "Chihuahua",
    "Chin",
    "Chow Chow",
    "Cirneco del Etna",
    "Clumber Spaniel",
    "Cocker Spaniel Americano",
    "Cocker Spaniel Inglés",
    "Collie Barbudo",
    "Collie de Pelo Cort",
    "Collie de Pelo Largo",
    "Cotón de Tuléar",
    "Curly Coated Retriever",
    "Dálmata",
    "Dandie dinmont terrier",
    "Deerhound",
    "Dobermann",
    "Dogo Argentino",
    "Dogo de Burdeos",
    "Dogo del Tibet",
    "Drentse Partridge Dog",
    "Drever",
    "Dunker",
    "Elkhound Noruego",
    "Elkhound Sueco",
    "English Foxhound",
    "English Springer Spaniel",
    "English Toy Terrier",
    "Epagneul Picard",
    "Eurasier",
    "Fila Brasileiro",
    "Finnish Lapphound",
    "Flat Coated Retriever",
    "Fox terrier de pelo de alambre",
    "Fox terrier de pelo liso",
    "Foxhound Inglés",
    "Frisian Pointer",
    "Galgo Español",
    "Galgo húngaro (Magyar Agar)",
    "Galgo Italiano",
    "Galgo Polaco (Chart Polski)",
    "Glen of Imaal Terrier",
    "Golden Retriever",
    "Gordon Setter",
    "Gos d'Atura Catalá",
    "Gran Basset Griffon Vendeano",
    "Gran Boyero Suizo",
    "Gran Danés (Dogo Aleman)",
    "Gran Gascón Saintongeois",
    "Gran Griffon Vendeano",
    "Gran Munsterlander",
    "Gran Perro Japonés",
    "Grand Anglo Francais Tricoleur",
    "Grand Bleu de Gascogne",
    "Greyhound",
    "Griffon Bleu de Gascogne",
    "Griffon de pelo duro (Grifón Korthals)",
    "Griffon leonado de Bretaña",
    "Griffon Nivernais",
    "Grifon Belga",
    "Grifón de Bruselas",
    "Haldenstoever",
    "Harrier",
    "Hokkaido",
    "Hovawart",
    "Husky Siberiano (Siberian Husky)",
    "Ioujnorousskaia Ovtcharka",
    "Irish Glen of Imaal terrier",
    "Irish soft coated wheaten terrier",
    "Irish terrier",
    "Irish Water Spaniel",
    "Irish Wolfhound",
    "Jack Russell terrier",
    "Jindo Coreano",
    "Kai",
    "Keeshond",
    "Kelpie australiano (Australian kelpie)",
    "Kerry blue terrier",
    "King Charles Spaniel",
    "Kishu",
    "Komondor",
    "Kooiker",
    "Kromfohrländer",
    "Kuvasz",
    "Labrador Retriever",
    "Lagotto Romagnolo",
    "Laika de Siberia Occidental",
    "Laika de Siberia Oriental",
    "Laika Ruso Europeo",
    "Lakeland terrier",
    "Landseer",
    "Lapphund Sueco",
    "Lebrel Afgano",
    "Lebrel Arabe (Sloughi)",
    "Leonberger",
    "Lhasa Apso",
    "Lowchen (Pequeño Perro León)",
    "Lundehund Noruego",
    "Malamute de Alaska",
    "Maltés",
    "Manchester terrier",
    "Mastiff",
    "Mastín de los Pirineos",
    "Mastín Español",
    "Mastín Napolitano",
    "Mestizo",
    "Mudi",
    "Norfolk terrier",
    "Norwich terrier",
    "Nova Scotia duck tolling retriever",
    "Ovejero alemán",
    "Otterhound",
    "Rafeiro do Alentejo",
    "Ratonero Bodeguero Andaluz",
    "Retriever de Nueva Escocia",
    "Rhodesian Ridgeback",
    "Ridgeback de Tailandia",
    "Rottweiler",
    "Saarloos",
    "Sabueso de Hamilton",
    "Sabueso de Hannover",
    "Sabueso de Hygen",
    "Sabueso de Istria",
    "Sabueso de Posavaz",
    "Sabueso de Schiller (Schillerstovare)",
    "Sabueso de Smaland (Smalandsstovare)",
    "Sabueso de Transilvania",
    "Sabueso del Tirol",
    "Sabueso Español",
    "Sabueso Estirio de pelo duro",
    "Sabueso Finlandés",
    "Sabueso Francés blanco y negro",
    "Sabueso Francés tricolor",
    "Sabueso Griego",
    "Sabueso Polaco (Ogar Polski)",
    "Sabueso Serbio",
    "Sabueso Suizo",
    "Sabueso Yugoslavo de Montaña",
    "Sabueso Yugoslavo tricolor",
    "Saluki",
    "Samoyedo",
    "San Bernardo",
    "Sarplaninac",
    "Schapendoes",
    "Schipperke",
    "Schnauzer estándar",
    "Schnauzer gigante (Riesenschnauzer)",
    "Schnauzer miniatura (Zwergschnauzer)",
    "Scottish terrier",
    "Sealyham terrier",
    "Segugio Italiano",
    "Seppala Siberiano",
    "Setter Inglés",
    "Setter Irlandés",
    "Setter Irlandés rojo y blanco",
    "Shar Pei",
    "Shiba Inu",
    "Shih Tzu",
    "Shikoku",
    "Skye terrier",
    "Slovensky Cuvac",
    "Slovensky Kopov",
    "Smoushond Holandés",
    "Spaniel Alemán (German Wachtelhund)",
    "Spaniel Azul de Picardía",
    "Spaniel Bretón",
    "Spaniel de Campo",
    "Spaniel de Pont Audemer",
    "Spaniel Francés",
    "Spaniel Tibetano",
    "Spinone Italiano",
    "Spítz Alemán",
    "Spitz de Norbotten (Norbottenspets)",
    "Spitz Finlandés",
    "Spitz Japonés",
    "Staffordshire bull terrier",
    "Staffordshire terrier americano",
    "Sussex Spaniel",
    "Teckel (Dachshund)",
    "Tchuvatch eslovaco",
    "Terranova (Newfoundland)",
    "Terrier australiano (Australian terrier)",
    "Terrier brasilero",
    "Terrier cazador alemán",
    "Terrier checo (Ceský teriér)",
    "Terrier galés",
    "Terrier irlandés (Irish terrier)",
    "Terrier japonés (Nihon teria)",
    "Terrier negro ruso",
    "Terrier tibetano",
    "Tosa",
    "Viejo Pastor Inglés",
    "Viejo Pointer Danés (Old Danish Pointer)",
    "Vizsla",
    "Volpino Italiano",
    "Weimaraner",
    "Welsh springer spaniel",
    "Welsh Corgi Cardigan",
    "Welsh Corgi Pembroke",
    "Welsh terrier",
    "West highland white terrier",
    "Whippet",
    "Wirehaired solvakian pointer",
    "Xoloitzcuintle",
    "Yorkshire Terrier",
  };

    private async Task<IEnumerable<string>> Search1(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return razas;
        return razas.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> BuscarRazas(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);

        // if text is null or empty, don't return values (drop-down will not open)
        if (string.IsNullOrEmpty(value))
            return new string[0];
        return razas.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

}
